In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('smogon.csv',sep=',')

In [3]:
df.head()

,X.,Name,Type.1,Type.2,Total,HP,Attack,Defense,Sp..Atk,Sp..Def,Speed,Generation,Legendary,Mega,Tier
0,384,Mega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,True,AG
1,94,Mega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False,True,Uber
2,115,Mega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False,True,Uber
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,False,Uber
4,150,Mega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,True,Uber

In [4]:
df.replace({
    'BL':'OU','BL2':'UU','BL3':'RU','BL4':'NU','AG':'Uber'
},inplace=True)

In [5]:
df['Type.2'].fillna('NoType',inplace=True)

df[df['Type.2'].isna()]['Type.2'] = 'NoType'

In [7]:
df.head()

,X.,Name,Type.1,Type.2,Total,HP,Attack,Defense,Sp..Atk,Sp..Def,Speed,Generation,Legendary,Mega,Tier
0,384,Mega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,True,Uber
1,94,Mega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False,True,Uber
2,115,Mega Kangaskhan,Normal,NoType,590,105,125,100,60,100,100,1,False,True,Uber
3,150,Mewtwo,Psychic,NoType,680,106,110,90,154,90,130,1,True,False,Uber
4,150,Mega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,True,Uber

In [8]:
df.columns = ['DexNum','Name','Type1',
                     'Type2','Total','HP','Atk','Def','SAtk','SDef','Spd','Generation','Legendary','Mega','Tier']

In [9]:
df.head()

,DexNum,Name,Type1,Type2,Total,HP,Atk,Def,SAtk,SDef,Spd,Generation,Legendary,Mega,Tier
0,384,Mega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,True,Uber
1,94,Mega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False,True,Uber
2,115,Mega Kangaskhan,Normal,NoType,590,105,125,100,60,100,100,1,False,True,Uber
3,150,Mewtwo,Psychic,NoType,680,106,110,90,154,90,130,1,True,False,Uber
4,150,Mega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,True,Uber

In [10]:
df.replace({"Farfetch'd":'Farfetchd'},inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 15 columns):
DexNum        499 non-null int64
Name          499 non-null object
Type1         499 non-null object
Type2         499 non-null object
Total         499 non-null int64
HP            499 non-null int64
Atk           499 non-null int64
Def           499 non-null int64
SAtk          499 non-null int64
SDef          499 non-null int64
Spd           499 non-null int64
Generation    499 non-null int64
Legendary     499 non-null bool
Mega          499 non-null bool
Tier          499 non-null object
dtypes: bool(2), int64(9), object(4)
memory usage: 51.7+ KB

In [54]:
df.to_csv('smogon_cleaned.csv',sep=';',index=False)